<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/mail.css" />
</head>
<body>

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />

<div class="navBarLeft">
	<div class="navBarTop">
		<div class="btn btn-active-big">
			<div class="icon icon-active-getmail">&nbsp;</div>
			<p><span><roundcube:button command="checkmail" label="checkmail" /></span></p>
		</div>
	</div>
	<div class="navBarBottom">
	    <div id="quicksearchbar">
            <roundcube:object name="searchform" type="search" class="eingabe" results="5" id="quicksearchbox" />
            <roundcube:button image="/img/button-los.gif" />
        </div>
	</div>
</div>

<div class="navBarRight">
	<div class="navBarTop">
    	<div class="btn btn-active-big">
    		<div class="icon icon-active-writemail">&nbsp;</div>
    		<p><span><roundcube:button command="compose" label="writenewmessage" /></span></p>

    	</div>
    	<div class="btn btn-active-big">
    		<div class="icon icon-active-reply">&nbsp;</div>
    		<p><span><roundcube:button command="reply" label="replytomessage" /></span></p>
    	</div>
    	<div class="btn btn-active-big">
    		<div class="icon icon-active-replyall">&nbsp;</div>
    		<p><span><roundcube:button command="reply-all" label="replytoallmessage" /></span></p>

    	</div>
    	<div class="btn btn-active-big">
    		<div class="icon icon-active-fwd">&nbsp;</div>
    		<p><span><roundcube:button command="forward" label="forwardmessage" /></span></p>
    	</div>
    	<div class="btn btn-active-big">
    		<div class="icon icon-active-delete">&nbsp;</div>
    		<p><span><roundcube:button command="delete" label="deletemessage" /></span></p>
    	</div>
    	<roundcube:button command="settings" label="settings" class="icon-settings" />
	</div>

	<roundcube:include file="/includes/mail_nav_no_count.html" />

</div>
<div class="clrLeft">&nbsp;</div>

<div id="wrapper-webmail">

    <div class="container-mailboxes">
		<h4><roundcube:label name="mailboxlist" /></h4>
		<roundcube:object name="mailboxlist" id="mailboxlist" maxlength="16" />
		<ul class="mininav">
			<li class="icon-folder-add"><span onclick="alert('To be implemented.');">Ordner hinzuf&uuml;gen</span></li>
			<li class="icon-folder-edit"><span onclick="alert('To be implemented.');">Ordner bearbeiten</span></li>
			<li class="icon-folder-zip"><roundcube:button command="expunge" label="compact" /></li>
			<li class="icon-delete"><roundcube:button command="purge" label="empty" /></li>
		</ul>
	</div>
    <div class="container-mailcont">
        <div id="mailcontframe">
            <roundcube:object name="messages"
              id="messagelist"
              cellspacing="0"
              summary="Message list"
              messageIcon="/images/icons/dot.png"
              unreadIcon="/images/icons/unread.png"
              deletedIcon="/images/icons/deleted.png"
              repliedIcon="/images/icons/replied.png"
              attachmentIcon="/images/icons/attachment.png" />
        </div>
        <roundcube:include file="/includes/mail_nav.html" />
	</div>
</div>

<roundcube:include file="/includes/footer.html" />
</body>
</html>
