<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/mail.css" />
</head>
<body>

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />


<div class="navBarLeft">
    <div class="navBarTop">
        <div class="btn btn-active-big">
			<div class="icon icon-active-fwd">&nbsp;</div>
			<p><span><roundcube:button command="list" label="backtolist" /></span></p>
		</div>
    </div>
</div>

<div class="navBarRight">
	<div class="navBarTop">
			<div class="btn btn-active-big">
				<div class="icon icon-active-writemail">&nbsp;</div>
				<p><span><roundcube:button type="link" command="compose" label="writenewmessage" /></span></p>
			</div>
			<div class="btn btn-active-big">
				<div class="icon icon-active-reply">&nbsp;</div>
				<p><span><roundcube:button command="reply"label="replytomessage" /></span></p>
			</div>
			<div class="btn btn-active-big">
				<div class="icon icon-active-replyall">&nbsp;</div>
				<p><span><roundcube:button command="reply-all" label="replytoallmessage" /></span></p>

			</div>
			<div class="btn btn-active-big">
				<div class="icon icon-active-fwd">&nbsp;</div>
				<p><span><roundcube:button command="forward" label="forwardmessage" /></span></p>
			</div>
			<div class="btn btn-active-big">
				<div class="icon icon-active-delete">&nbsp;</div>
				<p><span><roundcube:button command="delete" label="deletemessage" /></span></p>
			</div>
			<roundcube:button command="settings" label="settings" class="icon-settings" />
	</div>

	<div class="navBarBottom">
		<p class="flLeft">Anzeigen <strong><roundcube:button command="viewsource" label="viewsource" /></strong></p>
		<label>Verschieben nach</label>
        <roundcube:object name="mailboxlist" type="select" noSelection="moveto" maxlength="25" onchange="rcmail.command('moveto', this.options[this.selectedIndex].value)" class="mboxlist" />
	</div>
</div>

<div class="clrLeft">&nbsp;</div>

<div id="wrapper-webmail">

    <div class="container-mailboxes">
        <h4><roundcube:label name="mailboxlist" /></h4>
        <roundcube:object name="mailboxlist" id="mailboxlist" maxlength="16" />
    </div>

    <div class="container-mailcont">

        <div id="messageframe">
            <roundcube:object name="messageHeaders" class="mailheader" cellspacing="0" cellpadding="0" addicon="/images/icons/plus.gif" summary="Message headers" />
            <roundcube:object name="messageAttachments" class="attachments"id="attachment-list" />
            <roundcube:object name="blockedObjects" id="remote-objects-message" />
            <roundcube:object name="messageBody" id="messagebody" showImages="true" />
        </div>

        <div class="navBarBottom">
            <roundcube:button command="previousmessage" imageSel="/img/pager_prev_small.gif" imageAct="/img/pager_prev_small.gif" imagePas="/img/pager_prev_small.gif" title="previousmessage" />
            &nbsp;<roundcube:object name="messageCountDisplay" />&nbsp;
            <roundcube:button command="nextmessage" imageSel="/img/pager_next_small.gif" imageAct="/img/pager_next_small.gif" imagePas="/img/pager_next_small.gif" title="nextmessage" />
        </div>
    </div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
