<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/settings.css" />
</head>
<body>

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />

<div id="wrapper-webmail">
    <h2 id="userprefs-title" class="boxheadl flLeft">
        <roundcube:label name="userpreferences" />
    </h2>
    <div class="clrLeft">&nbsp;</div>

    <roundcube:include file="/includes/settingstabs.html" />

    <div class="clrLeft">&nbsp;</div>
    <div class="box-inner box-editmode">
        <div class="box-inner-half">
            <div id="userprefs-box">
                <roundcube:object name="userprefs">
            </div><br />
            <div class="btn btn-active-big">
        		<p><span><roundcube:button command="save" label="save" /></span></p>
        	</div>
    	</div>
    </div>
    <roundcube:include file="/includes/settingscripts.html" />
</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
