/*
	File: buttons.css
	Media type: screen


  BUTTONS


  Abbreviations:
  fL = floatLeft
  fR = floatRight
  alt = alternate


*/

/*
	BUTTONS

	* inactive/active defines colour
	* small (16px) / big (20px)
	* icon
*/



.container-btns p {
	float: left;
	padding: 2px 0 0 0;
}



.formrow .btn {
	margin-left: 2px;
}
.formrow .btn-fix {
	margin-left: 4px;
}
.formrow .btn-container-medium {
	float: left;
	margin-top: 4px;
	width: 155px;
}

#content .formrow .btn-container {
	float: left;
	margin-top: 6px;
}


div.btn {
	float: left;
	background-repeat: no-repeat;
	background-position: left;

	margin-left: 4px;
	padding-left: 4px;
	white-space: nowrap;
    cursor: pointer;
}
/* button list */
.container-inner-right div.btn {
    margin-bottom: 4px;
    margin-left: 0;
}

#content div.btn span {
	padding: 1px 0; /* nicht anfassen */
	line-height: 1.2em;
	display: block;
}


.btn-mod-fL {
	float: left;
	margin-left: 5px;
}
.btn-mod-fR {
	float: right;
	margin-right: 10px;

}

.mod-space1 {
	margin: 0 8px;
}
.mod-space2 {
	margin: 0 15px 20px 0;
}
#wrapper-iframes .btn-mod-fR {
	margin-right: 0;

}



div.btn-active-small {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_blue_left_16px.gif);
}
div.btn-inactive-small {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_grey_left_16px.gif);
}
div.btn-active-big {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_blue_left_20px.gif);
	padding-left: 5px;
}
div.btn-inactive-big {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_grey_left_20px.gif);
	padding-left: 5px;
}
div.btn-ajax-error {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_white_left_19px.gif);
	padding-left: 5px;
	float: left;
}

div.btn div.icon {
	float: left;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
}


#content div.btn p {
	float: left;
	padding: 0 4px 0 0;
	line-height: 1.2em;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: right;
}

#content div.btn-active-small p {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_blue_right_16px.gif);
}
#content div.btn-inactive-small p {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_grey_right_16px.gif);
}
#content div.btn-active-big p {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_blue_right_20px.gif);
	padding-right: 5px;
}
#content div.btn-inactive-big p {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_grey_right_20px.gif);
	padding-right: 5px;
}
#content div.btn-ajax-error p {
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_white_right_19px.gif);
	padding-right: 5px;
	color: #F43133;
}
div.btn-ajax-error a {
	color: #F43133;
}




div.btn span {
	background-repeat: repeat-x;
  display: block;
}

/* Exceptions to the rule*/
.formrow div.btn span {
	float: left;
	padding: 3px 0 1px 0;
}
#content .formrow div.btn-fix span {
	width: 64px;
	padding: 0 0 2px 0;
}
#content .container-inner-right div.btn span {
   width: 140px;
}

#content div.btn-active-small span {
	height: 14px;
/*	padding: 0 0 2px 0;   ?*/
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_blue_16px.gif);
}
#content div.btn-inactive-small span {
	height: 14px;
/*	padding: 0 0 2px 0;   ?*/
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_grey_16px.gif);
}
#content div.defined div.btn-active-small span,
#content div.defined div.btn-inactive-small span {
	padding: 0 0 2px 0;
}

#content div.btn-active-big span {
	height: 16px;
	padding: 2px 0;
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_blue_20px.gif);
}
#content div.btn-inactive-big span {
	height: 16px;
	padding: 2px 0;
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_grey_20px.gif);
}
#content div.btn-ajax-error span {
	height: 15px;
	padding: 2px 0;
	background-image: url(http://icke.till.workspace.macnews.local/incl/img/bg_btn_white_19px.gif);
}


 #content div.btn a {
    color: #FFF;
    text-decoration: none;
}


/*
        FILEBROWSER
*/

.filebrowser-maxi .btn-mod-fL {
	margin-left: -2px;
}
.filebrowser-maxi .btn-mod-fR {
	margin-right: 2px;
}

