/*
	File: calendar.css
	Media type: screen
	
	
  MODULES FOR CALENDAR & WEBMAILER
  
*/



.navBar {
	overflow: hidden;
	padding: 5px 5px 3px 5px;
	border: 1px solid #D0E3FF;
	background-color: #E7F1FF;
	margin: 0 10px;
}


.navBar .calpager {
	float: left;
}
#content .navBar h2 {
	float: left;
	font-size: 150%;
	padding: 3px 0 0 6px;
}
#content .navBar h3 {
	color: #69C;
	padding-bottom: 3px;
}
.navBar .btnBar {
	float: right;
}

#content .navBar a.headflRight {
	margin: 0;
	padding-right: 0;

}
.navBar ul {
	float: left;
}

.navBar ul li {
	float: left;
	font-weight: bold;
	color: #69C;
	padding: 1px 18px 3px 0;
}
.navBar li.icon {
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: 0;
}

.navBar ul.categories li {
	padding: 2px 15px 2px 4px;
	border-right: 1px solid #D0E3FF;
	
}
.navBar ul.categories input {
	margin-right: 4px;
	
}




.noBorderTop {
	border-top: none;
}
.noPad {
	padding: 0;
}

.noFloat {
	clear: left !important;
}

.litebox {
	margin: 10px 10px;

	
}

#.litebox-active {
	position: relative;
	background-color: #77A5D3;
	opacity: 0.1;
	border: 1px solid #D0E3FF;

}

/*		CALENDAR MONTH  */
table.calendar-month {
}

table.calendar-month td {
	padding: 0;
	width: 126px;
	height: 99px;
	border: 1px solid #D0E3FF;
	vertical-align: top;
}



/*		CALENDAR WEEK  */

table.calendar-week {
	border: 1px solid #D0E3FF;
}

table.calendar-week tr {
	border-bottom: none;
}
table.calendar-week td {
	padding: 0;
	width: 116px;
	border-right: 1px solid #D0E3FF;
	vertical-align: top;
}
table.calendar-week td.legend {
	border-bottom: none;
	text-align: right;
	background-color: #FFF;
}

#content table.calendar-week tr.firsthalf td {
	border-bottom: 1px dotted #D0E3FF;
	border-bottom-style: dotted !important

}









/*  CALENDAR  Allgemein   */

div.day {
	padding-top: 2px;
	padding-right: 4px;
	width: 18px;
	height: 16px;
	border-right: 1px solid #D0E3FF;
	border-bottom: 1px solid #D0E3FF;
	background-color: #FFF;
	color: #A6BDC6;	
	text-align: right;
	font-weight: bold;
}
div.today {
	color: #FFF;
	background-color: #06C;
}
div.holiday {
	color: #DA4444;
}

table.calendar-month p.entry,
table.calendar-week p.entry {
	margin: 1px;
	padding: 3px 2px;
	width: 94%;
	border: 1px solid #69C;
	color: #000;	
	line-height: 1.1em;
	cursor: pointer;
}

td.inactive {
	background-color: #F5F9FF;
}
table.calendar-month td.inactive p.entry {
	padding: 3px 2px;
	width: 94%;
	margin: 1px;
	border: none;
	color: #A68DC6;
	background-color: transparent;
}



.cat1 {
	background-color: #9DFFF8;
}
.cat2 {
	background-color: #FFF89D;
}
.cat3 {
	background-color: #CECECE;
}
.cat4 {
	background-color: #F89DFF;
}
.cat5 {
	background-color: #9DFFF8;
}
.cat6 {
	background-color: #E0CAAC;
}


/*  ###################   WEBMAIL  #####################  */



/* Webmailer NavBar */
.navBarLeft {
	float: left;
	margin: 0 10px;
}
.navBarRight {
	float: left;
}

.navBarTop {
	overflow: hidden;
	padding: 5px 0;
	border: 1px solid #D0E3FF;
	background-color: #E7F1FF;
}
.navBarBottom {
	overflow: hidden;
	padding: 2px 5px 3px 5px;
	border: 1px solid #D0E3FF;
	border-top: none;
	background-color: #E7F1FF;
}

.navBarLeft .navBarTop {
	width: 160px;
	padding: 5px 0;
}
.navBarLeft .navBarBottom {
	width: 160px;
	border-top: none;
	padding: 2px 0;
}

.navBarRight .navBarTop {
	width: 711px;
	margin-left: 0;
	padding-right: 5px;
}
.navBarRight .navBarBottom {
	width: 706px;
	margin-left: 0;
	border-top: none;
}


.navBarBottom p {
	padding: 2px 8px 2px 0;
}
.navBarBottom p strong {
	padding-left: 12px;
}
.navBarBottom label {
	float: left;
	margin-left: 50px;
	padding: 3px 8px 0 0;
}
.navBarBottom select {
	float: left;
	height: 16px;
	width: 118px;
}

.navBarBottom .mailpager {
	padding: 0;
	float:left;
	height: 16px;
	margin-top: 2px;
}

.navBarLeft div.btn span {
	width: 120px;
}
.navBarLeft input.text {
	float: left;
	margin: 0 4px 0 5px;
	width: 110px;
	color: #999;
	padding-top: 1px;
}
.navBarLeft input#searchsubmit {
	height: auto;
	border: none;
	padding: 1px 0 0 0;
}


#wrapper-webmail {
	vertical-align: top;
	overflow: hidden;
	padding: 10px 0 0 10px;

}
#wrapper-webmail h4 {
	margin: 0;
	padding: 0;
	padding-top: 3px;
	color: #69C;
	font-size: 1em;
	font-weight: normal;
	height: 16px;
	line-height: 1em;
}
#wrapper-webmail .mininav {
	width: 160px;
}


/* Mailboxlist  */
#wrapper-webmail div.container-mailboxes {
	float: left;
	overflow: hidden;
	margin-right: 11px;
	width: 162px;
}
ul.mailboxlist {
	border: 1px solid #D0E3FF;
	border-bottom: none;
	min-height: 470px;
}
ul.mailboxlist li {
	padding-left: 30px;
	border-bottom: 1px solid #F0F4FA;
	line-height: 2em;
	font-weight: bold;
	color: #06C;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 6px 3px;
}
ul.mailboxlist li:hover {
	background-color: #06C;
	color: #FFF;
	text-decoration: none;
}
ul.mailboxlist li:hover a {
	color: #FFF;
}
ul.mailboxlist li.selected {
	color: #FFF;
	background-color: #06C;
}
ul.mailboxlist li.selected a {
	color: #FFF;
}


/* Mailbox content */

.container-mailcont {
	float: left;
	width: 717px;
}

table#messagelist {
	margin-left: 1px;
	width: 717px;
	border: 1px solid #D0E3FF;
}

table#messagelist * {
	padding: 0;
}
table#messagelist thead {
	border: 1px solid #FFF;
	border-bottom: 1px solid #D0E3FF;
	font-size: 1em;
	font-weight: normal;
	color: #69C;
	
}
table#messagelist thead td {
	height: 20px;
}
table#messagelist .icon1,
table#messagelist .icon2 {
	width: 22px;
	text-align: center;
}
table#messagelist td.date,
table#messagelist td.subject,
table#messagelist td.from {
	padding-right: 10px;
}

table#messagelist tr.unread td {
	font-weight: bold;
}
table#messagelist a {
	color: #000;
}
table#messagelist tbody tr:hover {
	background-color: #06C;
	color: #FFF;
	cursor: pointer;
}
table#messagelist tr:hover a {
	color: #FFF;
}


/* READ MESSAGE  */
#messageframe {
	overflow: hidden;
	margin-top: 20px;
	border: 1px solid #D0E3FF;
}
#messageframe a {
	color: #06C;
}

table.mailheader {
	width: 100%;
}

table.mailheader tr td {
	padding: 2px 0;
	height: auto;
	line-height: 1.3em;
	white-space: normal;
	vertical-align: top;
}
table.mailheader td {
	width: 89%;
}
table.mailheader td img {
	padding: 1px 0 0 5px;
	vertical-align: text-bottom;
}
table.mailheader td.header-title {
	padding-right: 10px;
	width: 11%;
	text-align: right;
}
#messagebody {
	margin-top: -1px;
	min-height: 473px;
	border-top: 1px solid #D0E3FF;	
}
#messagebody p {
	margin: 0;
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
}
p.attachments {
	padding: 5px 0 5px 10px;
	border-top: 1px solid #D0E3FF;
	font-weight: bold;	
 	color: #69C;
}
p.attachments a {
	padding-right: 4px;
}

fieldset.attachments ul {
	margin: 2px 0 5px 10px;
	width: 695px;
	border-top: 1px dotted #D0E3FF;
}

fieldset.attachments ul li {
	padding: 4px 0;
	border-bottom: 1px dotted #D0E3FF;
	font-weight: bold;
}
fieldset.attachments ul li img {
	margin: 0 5px 0 0;
	vertical-align: text-bottom;
}
fieldset.attachments .btn {
	float: left;
}

	