/*
	File: modules.css
	Media type: screen
	
	
  MODULES (within content)
  
*/


/*          
				HEADLINES & PARAGRAPHS               
*/


#content h2 {
	padding-bottom: 6px;
	color: #69C;
	font-size: 1em;
	line-height: 1em;
}
#content h3 {
	color: #000;
	font-size: 1em;	
}
/* */
#content h3.siteheader {
	padding-bottom: 6px;
	font-weight: bold;
	font-size: 1.2em;
}

#content .box h3.tablehead {
	color: #69C;
	margin: 0 0 12px 10px;
}	

#content .container-inner-right h2 {

    padding-top: 5px;
    clear: left;

}

#content .container-inner-right h2.first {
    padding-top: 0;
}



/* siteheader paragraph */
#content p.intro {
	padding-bottom: 14px;
	padding-right: 20px;
	line-height: 1.3em;
}


.btmLine {
	border-bottom: 1px solid #A6BDC6;
	margin-bottom: 35px;
}

/* Textabsatz mit Linien oben und unten i.e "We are Mac-Community" */
#content div.defined {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 20px;
	padding: 11px 16px 11px 16px;
	background-color: #F6F9FD;
	border-top: 1px solid #D0E3FF;
	border-bottom: 1px solid #D0E3FF;

	width: 688px;
}

#content div.defined h3 {
	color: #000;
	font-size: 1.1em;
	padding-bottom: 6px;
}
#content div.defined a.teaserimg {
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background-color: #FFECD0;
}

#content div.defined p {
	line-height: 1.4em;
	padding: 0;
}

#content div.defined p.mod {
	width: 495px; 
	float: left;
}


/*
            CONTAINER for floating elements
*/

.container-inner-left {
    width: 740px;
    padding-left: 10px;
    float: left;
}

.container-inner-right {
    width: 160px;
    float: left;
}


/*          
				BOX-ELEMENTS               
*/



/* a wrapper-box-header contains header, right floating p and buttons (links) */
.wrapper,
.wrapper-box-header {
	overflow: hidden;			 /* non-IE */
	display: inline-block; /* IE */
	width: 100%; 					 /*Safari*/
}

.wrapper-box-header h2 {
	float: left;
	padding-top: 2px;
	font-size: 1.1em;	
}

.wrapper-box-half {
	float: left;
	width: 354px;
}
.leftBox {
	margin-right: 22px;
}

.wrapper-box-half .wrapper-box-header {
	border: 0px solid lime;
	width: 354px;  /* 354px*/
	/*_width: 345px;  IE6*/
}



.box,
.box-inner,
.box-inner-small {
	border: 5px solid #D0E3FF;
	padding-bottom: 5px;
	margin-bottom: 23px;
	overflow: hidden;			 /* non-IE */
	width: 910px;
}
.box-inner-small {
   width: 710px;
}

.box p,
.box-inner p
.box-inner-small p {
	padding: 8px 16px;
	line-height: 1.3em;
	font-size: 1em;
}
.wrapper-box-half .box {
	width: 344px;
}

#content .box-editmode {
	border-color: #FFEDD5;
}


/*
    Breadcrumb nav
*/
p.breadcrumb {
    border-bottom: 1px solid #E4EBEE;
    padding: 0 0 10px 0;
    margin: 0 10px 5px 10px;
}
p.noLine {
    border-bottom: none;
}
p.breadcrumb a {
    font-weight: bold;
}

/* Tab-Bar */
.box ul.tabBar {
	background-color: #E7F1FF;
	border-bottom: 1px solid #D0E3FF;
	height: 30px;
	width: 100%;
	margin-bottom: 14px;
}

.box ul.tabBar li {
	float: left;
	color: #06C;
	padding: 8px 10px;
}

.box ul.tabBar li.selected {
	border-left: 1px solid #D0E3FF;
	border-right: 1px solid #D0E3FF;
	background-color: #FFF;
	color: #000;
	height: 15px;
}
.box ul.tabBar li.selected a {
    color: #000;
}

/* Tab-Bar in editmode */
.box-editmode ul.tabBar {
	background-color: #FFF6EA;
	border-bottom: 1px solid #FFEDD5;
}

.box-editmode ul.tabBar li.selected {
	border-left: 1px solid #FFEDD5;
	border-right: 1px solid #FFEDD5;
}


.box ul.tabBar li.first {
 	border-left: 0;
 }


/*  Mailer: Linklist right from table */

.options {
	float: right;
	margin-top: 23px;
	width: 150px;
	margin-right:8px;
}
ul.tools {
    width: 148px;
}

.options ul,
ul.tools {
		border-top: 1px dotted #A6BDC6;
		margin-bottom: 26px;
}
.options li,
ul.tools li {
		border-bottom: 1px dotted #A6BDC6;
		padding: 4px 0 5px 0;
}

/*.options */ li.icon,
.options li.icon,
ul.tools li.icon {
	padding-left: 24px;
	background-repeat: no-repeat;
	background-position: 2px 3px;
}
.options li a,
ul.tools li a {
	font-size: 0.95em;	/* LX FF */
}

/*  Info right from table */

#content .options h3 {
	padding: 0;
	color: #999;
	font-size: 1em;
	line-height: 1.4em;
}
#content .options p {
	padding: 0 0 19px 0;
	color: #999;
	line-height: 1.4em;

}








/*
		PAGER
*/

.pager {
	overflow: hidden;
	height: 1%;
	margin: 0 10px 0 7px;
	padding: 6px 0 8px 0;
}

.pager span.backward {
	float: left;
}
.pager span.forward {
	float: right;
}
.pager form {
	float: left;
	padding-left: 110px;
	margin-right: 13px;
}
.pager ul li {
	float: left;
	color: #06C;
	margin-right:5px;
	width: 24px;
	height: 20px;
	text-align: center;
	line-height: 1.7em;
}
.pager ul li a {
	border: 1px solid #E4EBEE;
	background-color: #F9FBFC;
	display: block;
	width: 24px;
	height: 20px;
}
.pager ul li a:hover {
	color: #FFF;
	background-color: #06C;
	text-decoration: none;
}
.pager ul li.selected a {
	color: #FFF;
	background-color: #06C;
}
.pager img {
	margin-left: 3px;
}

.pager-btmLine {
   	border-bottom: 1px solid #E4EBEE; 
    margin-bottom: 14px;
}

/*
            FILEBROWSER
*/

.filebrowser-maxi {
    width: 745px;
    margin-bottom: 10px;
    overflow: hidden;
}
.filebrowser-maxi .item {
    float: left;
    width: 247px;
}

.filebrowser-maxi h3 {
    margin-bottom: 4px;
    width: 224px;
}
.filebrowser-maxi h3:hover {
    background: #FFEDD5;
}
.filebrowser-maxi .item .file {
    overflow: hidden;
    width: 220px;
    height: 147px;
    border: 2px solid #D0E3FF;
    background: #EEE no-repeat;
    text-align: center;
}
.filebrowser-maxi .item .file:hover {
    border: 2px solid #FFEDD5;
}
.filebrowser-maxi .item .file img {
    height: 147px;
}

.filebrowser-maxi .item p.desc {
    overflow: hidden;
    padding: 3px 5px 9px 5px;
    width: 214px;
    height: 37px;
    border-bottom: 1px dotted #D8E2F2;
}
.filebrowser-maxi .item p.desc:hover {
    background: #FFEDD5;
}

.filebrowser-maxi .item p.info {
    padding: 3px 5px 8px 5px;
    width: 214px;
    height: 46px;
    border-bottom: 1px solid #D8E2F2;
    margin-bottom: 20px;
    color: #666;
}
.filebrowser-maxi .item p.info a,
.filebrowser-maxi .item p.info span.ajaxfakelink {
    line-height: 2.3em;
}

/* edit filename */
.filebrowser-maxi .filename-edit {
    overflow: hidden;
    padding: 4px;
    width: 216px;
    color: #999;
    background: #FFEDD5;
}


/* edit file */
.filebrowser-maxi .file-edit {
    overflow: hidden;
    width: 247px;
    color: #999;
    background: #FFEDD5;
}
.filebrowser-maxi .file-edit img.trash {
    margin-top: 4px;
    margin-left: 2px;
}
.filebrowser-maxi .file-edit img.pencil {
    margin-top: 90px;
    margin-left: 2px;
}
.filebrowser-maxi .file-edit img.page {
    margin-top: 4px;
    margin-left: 2px;
}
.filebrowser-maxi .file-edit img.page-only {
    margin-top: 130px;
    margin-left: 2px;
}
.filebrowser-maxi .file-edit .file {
    border: 2px solid #FFEDD5;
    float: left;
}



/* edit description */
.filebrowser-maxi .desc-edit {
    overflow: hidden;
    padding: 4px;
    width: 216px;
    color: #999;
    border-bottom: 1px solid #D8E2F2;    
    background: #FFEDD5;
}

/* TODO: colours */
.statuscolor1 {
    color: #090;
    font-weight: bold;
}




#content .box h2.boxheadl {
	color: #69C;
	padding: 5px 0 10px 10px;
	font-size: 1.1em;
}
#content .box h3.boxheadl {
	color: #69C;
	padding: 5px 0 10px 10px;
	font-size: 1em;
}

#content a.headflRight {
	float: right;
	padding-right: 10px;
}

/*
		SEARCH WITH CANCEl-BUTTON
*/


.sortBar {
	margin: 0 13px 10px 10px;
	padding: 3px 8px 3px 3px;
	border: 1px solid #D0E3FF;
	background-color: #E7F1FF;
	overflow: hidden;
	height: 1%;
}

.sortBar input,
.sortBar div,
.sortBar select,
.sortBar label {
	float: left;
}

.sortBar #search {
	overflow: hidden;
	height: 20px;
	width: 140px;
	background-color: #FFF;
	border: 1px solid #CCC;
}
.sortBar #search input {
	border: none;
	color: #CCC;
	width: 114px;
	padding: 2px 0 2px 4px;
	margin-right: 4px;
}
.sortBar #search img {
	padding-top: 3px;
	cursor: pointer;
}

div#status {
	width: 40px;
	padding: 3px 0 0 3px;
}
.sortBar label {
	color: #999;
	margin: 4px 5px 0 0;
}

a.icon-settings {
	float: right;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 22px;
	margin-top: 3px;
	line-height: 1.5em;
	font-weight: bold;
	
}


/*  BOX-INNER 875px */

.box-inner {
	overflow: hidden;			 /* non-IE */
	margin: 0 0 10px 10px;
	width: 875px;
	border: 5px solid #D0E3FF;
}	


/*  BOX-INNER-SMALL  710px */	
.box-inner-half {
	overflow: hidden;
	float: left;
	width: 410px;
	padding: 10px;
}
#content .box .box-inner-half h3.boxheadl {
	padding: 0 0 5px 0;
}
#content .box .box-inner-half form,
#content .box .box-inner-half fieldset {
	padding: 0;
	margin: 0;
	width: 300px;
	border: none;
}
#content .box .box-inner-half label {
	width: 100px;
	padding: 6px 5px 15px 0;
}

ul.address-master {
	padding: 10px;
	width: 283px;
	min-height: 370px;
	background-color: #FFEDD5;
}
ul.address-master li {
	overflow: hidden;
	padding: 0 0 7px 35px;
	background: transparent url(../img/bg_select.gif) no-repeat;
	line-height: 1.7em;
	cursor: pointer;
}

ul.address-master span {
	display: block;
	float: left;
	width: 230px;	
}
ul.address-master img {
	display: block;
	float: left;
	margin-top: 3px;
}





/*
		IFRAMES-CONTAINER
*/

#wrapper-iframes {
	vertical-align: top;
	padding: 0 0 0 10px;

}
#wrapper-iframes h4 {
	padding: 3px 2px;
	color: #A6BDC6;
	font-size: 1em;
	font-weight: normal;

}
#wrapper-iframes iframe {
	border: 1px solid #D0E3FF;
	border-bottom: none;
}
#wrapper-iframes div.container-iframe {
	float: left;
	margin-right: 14px;
	max-width: 358px;
}

#wrapper-iframes div.container-btns {
	width: 358px;
	margin-right: 0;
}
#wrapper-iframes div.container-btns .btn {
	margin: 0;
}
.iframe1 {
	width: 176px;
	height: 400px;
}
.iframe2 {
	width: 318px;
	height: 400px;
}
.iframe2-small {
	width: 318px;
	height: 300px;
}
.iframe3 {
	width: 356px;
	height: 400px;
}

#wrapper-iframes .iframe3-edit {
	width: 348px;
	height: 392px;
	border: 5px solid #FFEDD5;
	margin-bottom: 10px;
}

// Till, 2007-05-03
#wrapper-iframes .iframe1-edit {
    border: 5px solid #FFEDD5;
    margin-bottom: 10px;
}

ul.mininav {
	border: 1px solid #D0E3FF;
	border-bottom: none;
	margin-bottom: 20px;
	width: 100%;
}
ul.width1 {
	width: 176px;
}
ul.width2 {
	width: 318px;
}
ul.width3 {
	width: 356px;
}

ul.mininav li {
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-color: #E7F1FF;
	border-bottom: 1px solid #D0E3FF;	
	color: #06C;
	line-height: 2.4em;
	font-weight: bold;
	cursor: pointer; 
}

ul.mininav li.empty {
	cursor: default;
}
ul.mininav li:hover {
	text-decoration: underline;
}
ul.mininav li.empty:hover {
	text-decoration: none;
}

ul.linklist {
		border: 1px solid #D0E3FF;
		border-bottom: none;
		height: 100px;
}


/*
		SMS TIMER
*/
.box-sms {
	overflow: hidden;
	height: 1%;
	float: left;
	width: 512px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.box-sms .btn {
	margin-left: 0;
}

form.sms {
	background-color: #E7F1FF;
	border: 1px solid #D0E3FF;
	overflow: hidden;
	margin-bottom: 10px;
}
.box-sms-editmode form.sms {
	border: 5px solid #FFEDD5;
	background-color: #FFF;
}


form.sms span.status img {
	padding-left: 5px;
}

.box-tabs {
	overflow: hidden;
	height: 1%;
	float: left;
	width: 358px;
	margin-left: 20px;
}

.box-tabs ul.tabnav {
	border-bottom: 1px solid #D0E3FF;
	height: 29px;
}

.box-tabs ul.tabnav li {
	float: left;
	margin: 0;
	padding: 0 7px;
	height: 29px;
	border-top: 1px solid #D0E3FF;
	border-right: 1px solid #D0E3FF;
	color: #69C;
	font-weight: bold;
	line-height: 2.5em;	 
	cursor: pointer;	
}
.box-tabs ul.tabnav li:hover  {
	text-decoration: underline;
}
.box-tabs ul.tabnav li.first {
	border-left: 1px solid #D0E3FF;
}
.box-tabs ul.tabnav li.selected {
	border-bottom: none;
	height: 29px;
	background-color: #FFF;
}

.box-tabs ul.listing {
	clear: left;
	overflow: hidden;
	border: 1px solid #D0E3FF;
	border-top: none;
}
.box-tabs ul.listing li {
	overflow: hidden;
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position: 4px 5px;
	line-height: 2.4em;
}
.box-tabs ul.listing li strong {
	display: block;
	float: left;
	width: 155px;
}
.box-tabs ul.listing li span {
	display: block;
	float: left;
	width: 150px;
}
.box-tabs ul.listing li p {
	clear: left;
	padding: 0 5px 10px 0;
}
.box-tabs ul.listing li p strong {
	width: 320px;
	padding: 4px 0 8px 0;
}
.box-tabs ul.listing li p strong.cancel {
	width: 306px;
}
.box-tabs ul.listing li img {
	float: left;
	padding-top: 5px;
	cursor: pointer;
}

/* Timer Listing */
.box-tabs ul.listing-timer li {
	padding-left: 4px;
	background: none;
}
.box-tabs ul.listing-timer li span {
	width: 130px;
}
.box-tabs ul.listing-timer li img {
	padding-left: 3px;
}



.box-tabs ul.mininav {
	border-top: none;
}


.settings {
	float: left;
	width: 310px;
	padding: 6px 0 30px 10px;
}

.settings h3 {
	margin-bottom: 4px;
}
.settings ul {
	margin: 0 0 4px 0;
	border-top: 1px solid #F0F4FA;
}
.settings ul li {
	line-height: 2.2em;
	overflow: hidden;
	border-bottom: 1px solid #F0F4FA;
}
.settings ul li span {
	display: block; 
	float: left;
	width: 285px;
	font-weight: normal;
}
.settings ul li img {
	cursor: pointer;
	margin-top: 3px;
}

.settings label {
	color: #666;
	line-height: 1.6em;
}

.settings input {
	margin: 3px 0 4px 0;
	color: #666;
}


.settings img {

	padding-right: 5px;
	vertical-align: text-bottom;
}
.settings span {
	font-weight: bold;
}





/*
			FOOTER MODULES
*/



#wrapper-footer-inner {
	overflow: hidden;
	width: 730px;
}

#wrapper-footer-inner h4 {
	padding-bottom: 12px;
	color: #69C;
	font-size: 1.1em;
}

#wrapper-footer .container {
	float: left;
	margin-right: 23px;
	width: 165px;
}

#wrapper-footer .container a {
	color: #000;
}


/*  ul sizes */

#wrapper-footer .broad {
	width: 354px;
	margin-right: 0;
}

#wrapper-footer .container ul {
	background-color: #EBF3FF;
	border-bottom: 1px solid #B0E3FF;
}
#wrapper-footer .container li {
	padding: 6px 0 4px 0;
	border-top: 1px solid #B0E3FF;
	color: #000;
	min-height: 14px;
	font-size: 1.1em;
}
#wrapper-footer .container li.icon {
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;

}


#wrapper-footer .container li img {
	padding: 0 7px 0 4px;
	vertical-align: top;	
}























