/*
	File: tables.css
	Media type: screen
	
	
  TABLES (within content)
  
*/

table.full {
	margin: 4px 10px 6px 10px;
	width: 890px;
}


div#content .wrapper-box-half table {
	width: 324px;
	margin-left: 10px;
}




table tr {
	border-bottom: 1px solid #E4EBEE;
	vertical-align: middle;
}

table td {
	height: 23px;
	vertical-align: middle;
	padding-left: 8px;
	border-bottom: 1px solid #E4EBEE; /*IE*/
	line-height: 1.2em;
	white-space: nowrap;	
}
table td span {			/* hides too long text in table cells */
	overflow: hidden;
	float: left;
	width: auto;
	white-space: nowrap;
	padding-right: 5px;
}

table td span.extrashort {
	max-width: 80px;
}
table td span.short {
	max-width: 120px;
}
div#content .wrapper-box-half table td span.short {
	max-width: 207px;
}
table td span.medium {
	max-width: 220px;	/*Safari*/
}

table td span.long {
	max-width: 290px;
}
table td span.extralong {
	max-width: 340px;
}

/*
				Table head / foot
*/

table th {		
	color: #A6BDC6;   /*#BECFD5*/

	font-weight: normal;
	padding-left: 8px;
	padding-bottom: 2px;		/* ! influences .options  */
	line-height: 1.5em;
	white-space: nowrap;
	ttext-align: center;
}

table thead.borderTop th {
	padding-top: 2px;
	border-top: 1px solid #E4EBEE;
}
table thead th a {
	color: #A6BDC6;
}
table thead th a.sort {
	background: url(../img/arrow_grey_down.gif) no-repeat right 6px;
	padding-right: 11px;
}


table tfoot td,
table tfoot tr {
	border: 0;
}
table tfoot tr td a {
	color: #06C;
}





/*
				td types
*/
table tr.center td {
	text-align: center;
}
table tr.center td.alLeft {
    text-align: left;
}

td.icon {
	width: 27px;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 0;
}	

td.icon-small {
	background-repeat: no-repeat;
	background-position: 5px center;
	width: 18px;
	padding-left: 0;
}	
td.icon-medium {
	background-repeat: no-repeat;
	background-position: 12px center;
	width: 35px;
	padding-left: 0;
}	
/* comm. profil buddies */
td img.imgMedium {
	border: 1px solid #E4EBEE;
	margin: 3px 0 3px 3px;
}
/* comm. forum kategorie start*/
td.imgSmall {
	vertical-align: middle;
	padding-top: 3px;
	
}
td.imgSmall img {
	border: 1px solid #D0E3FF;
	margin: 0px 4px 0px 0;
	vertical-align: middle;
}

table tr td.mail {
	color: #06C;
	text-align: left;
	padding-left: 8px;
}



table tr.center td.btn div.btn {
	float: right;
}

tr td a {
	color: #000;
}


/* so = Sonntag (rot) */
tr td.so {
	color: #C00;
}

tr.unread td a {
	color: #06C;
	font-weight: bold;
}
/*
		BUDDIES-TABLE
*/

table.buddies td {
	line-height: 1.4em;
}
table.buddies td.icon {
	width: auto;
	background-repeat: no-repeat;
	background-position: 4px 13px;
	padding-left: 26px;	
}	

table.buddies th.alRight,
table.buddies td.alRight {
	padding-right: 7px;    /* 14px ???   */
}
table.buddies td.alRight img {
	padding: 3px 0;
}
table.buddies td.alTop,
table.buddies tr.alTop td {
	padding-top: 5px;
	vertical-align: top;
}
table.buddies tr.alTop .alMid {
    padding-top: 0;
    vertical-align: middle;
}
table.buddies td.alTop img {
	padding-top: 3px;
	padding-left: 9px;
}
table td a.colored {
	color: #06C;
	font-weight: bold;
}

