
body {
	background: #F6F6F6;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	margin: 12px;
}

fieldset {
	border: 1px solid #bbb;
	padding: 8px;
}

#pageheader {
  color: #BB0000;
}

.console {
  display: none;
  color: #999;
  margin-bottom: 0.5em;
}

.translist thead td {
	font-weight: bold;
	padding: 2px 6px 2px 4px;
}

.translist tbody td {
	padding: 2px 6px 2px 4px;
	border-bottom: 1px solid #ccc;
}

.untranslated {
	background: #EF9398;
}

.key {
	font-family: monospace;
	font-size: x-small;
}

.original {
	color: black;
}

#translations {
	margin: 20px 0;
}

#resultsbox {
  
}

#results {
  font-family: monospace;
	font-size: x-small;
}


/*****************/


input, textarea
{
	font-size: 9pt;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #ffffff;
	border: 1px solid #666666;
}

input.button
{
	height: 20px;
	color: #333333;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	background: url('button.gif') repeat-x #f0f0f0;
	border: 1px solid #a4a4a4;
}
